@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 222.2 84% 4.9%;

      --card: 0 0% 100%;
      --card-foreground: 222.2 84% 4.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 222.2 84% 4.9%;

      --primary: #11B761;
      --primary-foreground: #01200C;
      --primary-pressed:  34% 0.085 152.65;
      --primary-on-pressed: 74.42% 0.184 152.62;

      --secondary: 96.93% 0.01 238.51 / 0.01;
      --secondary-foreground: 96.93% 0.01 238.51;

      --muted: 210 40% 96.1%;
      --muted-foreground: 215.4 16.3% 46.9%;

      --accent: 210 40% 96.1%;
      --accent-foreground: 222.2 47.4% 11.2%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;

      --border: 214.3 31.8% 91.4%;
      --input: 214.3 31.8% 91.4%;
      --ring: 222.2 84% 4.9%;

      --outline: 81.89% 0.015 244.76; /*oklch*/

      --radius: 12px;

      --disabled: 81.89% 0.015 244.76;
      --on-disabled: 48.91% 0.024 243.78;
      
      --surface-bg: 15.93% 0.013 237.23;
      --text-title: #EFF6FB;
      --text-body: #E2EBF3;
      --text-red: 69% 0.195 22.03;
      --text-subtle: 81.89% 0.015 244.76;
      --text-green: 74.42% 0.184 152.62;
      --container2: 21.11% 0.025 241.78;
      --container1: 29.99% 0.025 248.67;
      --container0: 39.46% 0.025 243.99;
    }

    .dark {
      --background: 222.2 84% 4.9%;
      --foreground: 210 40% 98%;

      --card: 222.2 84% 4.9%;
      --card-foreground: 210 40% 98%;

      --popover: 222.2 84% 4.9%;
      --popover-foreground: 210 40% 98%;

      --primary: 210 40% 98%;
      --primary-foreground: 222.2 47.4% 11.2%;

      --secondary: 217.2 32.6% 17.5%;
      --secondary-foreground: 210 40% 98%;

      --muted: 217.2 32.6% 17.5%;
      --muted-foreground: 215 20.2% 65.1%;

      --accent: 217.2 32.6% 17.5%;
      --accent-foreground: 210 40% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 40% 98%;

      --border: 217.2 32.6% 17.5%;
      --input: 217.2 32.6% 17.5%;
      --ring: 212.7 26.8% 83.9%;
    }
  }

  @layer base {
    * {
      @apply border-border font-sans;
    }
    body {
      @apply bg-background text-foreground;
    }

    .headline-large{
      @apply text-6xl font-black;
    }

    .headline-medium{
      @apply text-5xl font-black;
    }

    .headline-small{
      @apply text-4xl font-black;
    }

    .title-large{
      @apply text-3xl font-bold;
    }

    .title-medium{
      @apply text-2xl font-bold;
    }

    .title-small{
      @apply text-lg font-bold;
    }

    .label-large{
      @apply text-base font-bold;
    }

    .label-medium{
      @apply text-sm font-bold;
    }

    .label-small{
      @apply text-xs font-bold;
    }

    .body-large{
      @apply text-base font-medium;
    }

    .body-medium{
      @apply text-sm font-medium;
    }

    .body-small{
      @apply text-xs font-medium;
    }

    /* React Date Picker Customization */
    .react-datepicker{
      @apply shadow-2xl rounded-md border bg-container0 border-outline font-sans p-5;
    }

    .react-datepicker .react-datepicker__aria-live{
      @apply hidden;
    }

    .react-datepicker .react-datepicker__month-container .react-datepicker__month{
      @apply flex flex-col;
    }

    .react-datepicker .react-datepicker__month-container .react-datepicker__month .react-datepicker__month-wrapper{
      @apply flex gap-6 pt-4;
    }

    .react-datepicker .react-datepicker__month-container .react-datepicker__month .react-datepicker__month-wrapper .react-datepicker__month-text{
      @apply flex w-4/12 justify-center text-sm text-body py-1 px-3;
    }

    .react-datepicker .react-datepicker__month-container .react-datepicker__month .react-datepicker__month-wrapper .react-datepicker__month-text--selected{
      @apply bg-primary text-body rounded-full;
    }
    
  }